:root {
    --brown: rgb(107, 55, 0);
    --black: rgb(51, 51, 51);
    --green: rgb(86, 137, 99);
    --white: rgba(255, 255, 255, 0.877);
    --vertical-bar: border-right: var(--black) solid 2px;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--black);
}

html {
    scroll-behavior: smooth;
}

/* sets information about header and nav bar */
header {
    background-color: var(--brown);
    display: flex;
    width: 100%
}

/* sets name at top left and style  */
h1 {
    padding: 10px 5px 10px 50px;
    margin: 10px 5px 10px 0px;
    background-color: var(--green);
    color: var(--white);
    min-width: 300px;
    max-width: 300px;
}

/* sets nav bar positioning  */
nav {
    position: relative;
    justify-content: flex-end;
    top: 2rem;
}

/* defines anchors in nav bar  */
a {
    color: var(--white);
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 3px;
}

a:hover {
    color: var(--green);
}

a:active {
    color: var(--black);
}

/* this impacts the section bar on the left-hand side  */
aside {
    display: flex;
    order: 1;
    align-items: end;
    padding: 10px;
    text-align: end;
}

/* adds borders to the labels on the left  */
aside section {
    border-right: 4px solid var(--black);
    padding: 4px;
}

/* image attributes  */
img {
    width: 100%;
    height: 100%;
    opacity: 70%;
    border: 5px solid var(--green);
}

img:hover {
    opacity: 100%;
}
/* changes about paragraphs and subheadings on image text  */
div p {
    text-align: left;
    padding: 0 0 0 1rem;
}

footer {
    margin: 10px 10px 100px 10px;
    justify-content: right;
}

/* spacing between header and nav menu  */
header,
nav {
   justify-content: space-between ;
}

/* impacts spacing in nav bar  */
nav a {
    justify-content: space-around;
    margin: 0 10px 0 0;
}

footer span a {
    color: var(--black);
}

.mobile-labels {
    display: none;
}

/* this is the contain that holds the section headings and the content  */
.flexbox-container {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
}

/* this is for the images and labels section of the page  */
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.personal-description {
    order: 2;
}

.border-color {
    border-color: var(--green);
}

/* this is the title labeled "Cool Subtitle here"  */
.subtitle {
    text-align: right;
    font-size: 150%;
    margin-bottom: 1.5rem;
    padding: 2rem;
    background-color: var(--green);
    color: var(--white);
}

/* impacts the cards including the image and the text  */
.card {
    position: relative;
    margin: 0.5rem;
    display: inline-block;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 400px;
}

/* this is the text and label over the image  */
.img-label {
    position: absolute;
    bottom: 24px;
    left: 5px;
    background-color: var(--green);
    width: 20rem;
    padding: 10px;
}

/* this is the text overlaying the images  */
.overlay {
    font-size: 180%;
    margin: -4px;
    color: var(--white);
    padding: 0 0 0 1rem;
    opacity: 70%;
}

/* this is the sub text in the overlay  */
.sub-overlay {
    color: var(--white);
    padding: 0 0 0 1rem;
}

/* links in the nav bar  */
header nav .header-links {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

#work {
    margin: 0.5rem;
    max-width: 1000px;
}

/* defines "about" label  */
#label-1 {
    position: relative;
    margin: -10px 0 50px 0;
    padding: -10px 0 -10px 0;
    Height: 5rem;
}

/* #card-2,
#card-3,
#card-4,
#card-5 {
    position: relative;
    width: 42%;
    min-width: 410px;
} */

/* defines "work" label  */
#label-2 {
    position: relative;
    margin: -10px 0 -10px 0;
    padding: -10px 0 -10px 0;
    Height: 70rem;
}

/* defines "contact" label  */
#label-3 {
    position: relative;
    margin: 100px 0 0px 0;
    padding: -10px 0 -10px 0;
    Height: 5rem;
}

@media screen and (max-width: 1120px) {
    #card-2,
    #card-3,
    #card-4,
    #card-5 {
        position: relative;
        margin: 0.5rem;
        max-width: 1000px;
        max-height: 800px;
    }
}

@media screen and (max-width: 883px) {
    header,
    nav,
    .subtitle {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    header,
    nav {
        padding: 0;
        margin: 0;
    }

    nav {
        margin: 3rem;
    }

    nav a {
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
        padding: 4px;
    }

    aside {
        display: none;
        }

    .mobile-labels {
        display: block;
    }
}